parameters:
	ignoreErrors:
		-
			message: '#^Regex pattern is invalid\: Unknown modifier ''\?'' in pattern\: /\[\^a\-zA\-Z0\-9\\\-\._~\:/\?\#\[\\\]@\!\$&''\(\)\*\+,;\=%%\]/$#'
			identifier: regexp.pattern
			count: 1
			path: usersc/classes/ElanRegistryOwner.php

		-
			message: '#^Parameter \#3 \$quality of function imagepng expects int, float given\.$#'
			identifier: argument.type
			count: 1
			path: usersc/classes/Resize.php

		-
			message: '#^Variable \$optimalHeight might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: usersc/classes/Resize.php

		-
			message: '#^Variable \$optimalWidth might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: usersc/classes/Resize.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: usersc/classes/exceptions/ElanRegistryException.php
